{{ player.username }} <br />
{{ player.timestamp | date('Y-m-d') }} <br />
<img src="{{ player.avatar }}"> <br />

{% for event in player.events %}
    {{ event.eventType.name }}
    {{ event.timestamp | date('Y-m-d H:i:s') }} <br />
{% endfor %}

<br />
<br />

{% for session in sessions %}
    {{ session.loginEvent.timestamp | date('Y-m-d H:i:s') }} <br />
    {% if session.logoutEvent != null %}
    {{ session.logoutEvent.timestamp | date('Y-m-d H:i:s') }} <br />
    {% endif %}
    {{ session.duration }} <br />
{% endfor %}

<br />
<br />

<html>
<head>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>

    <script type='text/javascript'>//<![CDATA[

        $(function() {

            $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function(data) {
                // Create the chart
                $('#container').highcharts('StockChart', {


                    rangeSelector : {
                        selected : 1
                    },

                    title : {
                        text : 'AAPL Stock Price'
                    },

                    series : [{
                        name : 'AAPL',
                        data : data,
                        tooltip: {
                            valueDecimals: 2
                        }
                    }]
                });
            });

        });

        //]]>

    </script>
</head>
<body>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

    <div id="container" style="height: 500px; min-width: 500px"></div>
</body>
</html>